<div class="container">
  <div class="row d-flex justify-content-center">

    <div class="col-auto">
      <h2>Galería de imágenes</h2>
       <div>
        <img [src]="imagen"  [width]="ancho">
       </div>
       <div>
         <button [disabled]="indiceImagenSeleccionada<1" (click)="anterior()"class="btn btn-info btn-md m-2">Anterior</button>
         <!-- carga antes el evento click que la condición disabled -->
         <button [disabled]="indiceImagenSeleccionada==imagenes.length-1" (click)="siguiente()" class="btn btn-info btn-md m-2">Siguiente</button>

         <button (click)="aumentar()" class="btn btn-info btn-md m-2">Aumentar</button>

         <button (click)="disminuir()" class="btn btn-info btn-md m-2">Disminuir</button>

         <button (click)="play()" class="btn btn-info btn-md m-2">Play</button>
         <button (click)="stop()" class="btn btn-info btn-md m-2">Stop</button>

       </div>
    </div>
  </div>
</div>
